.parent{

    padding: 25px;
    background-color: blanchedalmond;
    display: flex;
    gap: 30px;
    justify-content: space-between;
    height: 350px;
    align-items: center;
    /* flex-direction: column; */
    flex-wrap: wrap;

}

.child{

    border: 2px solid cornflowerblue;
    background-color: cadetblue;
    padding: 18px;
    font-size: 28px;
    margin: 10px 0;
   
}